.button {
  border: 1px solid rgb(242, 242, 242);
  border-radius: 51px;
  display: inline-block;
  margin: 0;
  text-decoration: none;
  color: inherit;
  padding: 14px 23px 12px 23px;
  background-color: transparent;
}

.button:hover {
  padding: 13px 22px 11px 22px;
  border: 2px solid grey;
}

.button:active {
  border: 2px solid #f5f5f5;
  padding: 13px 22px 11px 22px;
}

.scroll-down {
  position: absolute;
  width: 51px;
  height: 50px;
  border: 1px solid rgb(242, 242, 242);
  background-color: transparent;
  border-radius: 50%;
  bottom: 104px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(242, 242, 242);
  font-size: 30px;
  padding-top: 14px;
}

.scroll-down--intro {
  bottom: 104px;
}

.scroll-down--services,
.scroll-down--clients {
  bottom: 10px;
  border: 1px solid #29323c;
}

.team__show-more {
  color: rgb(242, 242, 242);
}

.prices__button {
  position: absolute;
  color: #e8e8e8;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #485563;
}

.prices__button:hover {
  background-color: #323334;
}

.prices__button:active {
  background-color: #525961;
}

.button--submit {
  position: absolute;
  color: #f6f6f6;
  border-radius: 1px;
  bottom: -80px;
  right: 0;
}


//the end
