.footer {
  background-color: #f5f5f5;
  color: rgb(41, 50, 60);
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-left: 212px;
  padding-top: 36px;
  padding-right: 215px;
  padding-bottom: 31px;
}

.footer__col {
  display: flex;

  align-items: center;
}

.footer__text {
  @include font("OpenSans-Regular", 14px, 22px, #29323c);
  margin-left: 34px;
  margin-right: 22px;
}

.firm__contacts {
  margin: 0;
  padding: 0;
  list-style: none;

  text-decoration: none;
  display: flex;
  font-size: 24px;
  line-height: 24px;
  justify-content: center;
  // padding-bottom: 29px;

  .contacts__contact {
    background-color: #525961;
    border-radius: 50%;
    width: 34px;
    height: 33px;
    text-align: center;
    vertical-align: middle;
  }

  .contacts__contact:hover {
    background-color: #485563;
  }

  .contacts__contact:active {
    background-color: #323334;
  }

  .fab {
    color: #f5f5f5;
    padding-top: 4px;
  }

  .contacts__contact:hover .fab {
    color: #f6f6f6;
  }

  .contacts__contact:active.fab {
    color: grey;
  }
}

.contacts__contact:not(:last-child) {
  margin-right: 10px;
}


@media (max-width: $tablet-width) {
  .footer {
    padding-left: 0;
    padding-right: 60px;
    padding-bottom: 36px;
  }

  .footer__col {
    display: block;
  }

  .footer__text {
    margin-left: 0;
  }

  .logo~.footer__text {
    margin-left: 55px;
  }

  .footer__col-2 {
    padding-top: 14px;
  }
}

//
