.contacts__form {
  max-width: 800px;
  padding-top: 114px;
  padding-left: 12.3%;
  padding-right: 12.01%;
  padding-bottom: 115px;
  width: 50%;
  background-image: url("../img/form-bg@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media #{$retina} {
    background: url("../img/form-bg@2x.jpg");
    background-size: 901px auto;
  }
}

.form {
  position: relative;
}

.form__label {
  @include font("Montserrat-Regular", 14px, 36px, #f6f6f6);
  float: left;
  padding-top: 7px;
}

.form__input {
  background-color: transparent;
  border: 1px solid #f6f6f6;
  border-radius: 1px;
  width: 300px;
  height: 45px;
  padding: 10px 20px;

  @include font("Montserrat-Regular", 14px, 36px, #f6f6f6);
}

.form__input:hover {
  padding: 9px 19px;
  border: 2px solid grey;
}

.form__input:active,
.form__input:focus {
  border: 2px solid #f5f5f5;
  padding: 9px 19px;
  background-color: rgba(white, 0.5);
}

.form-container:not(:last-child) {
  margin-bottom: 25px;
  clear: both;
  text-align: right;
}

.form__input--message {
  height: 145px;
}

@media (max-width: 1160px) {
  .contacts__form {
    width: 100%;
    max-width: 100%;
    padding-left: 31%;
    padding-right: 31%;
  }
}

@media (max-width: $mobile-width-only) {
  .contacts__form {
    padding-left: 15px;
    padding-right: 15px;
    background-position: center;
    background-size: cover;
  }

  .form-container:not(:last-child) {
    margin-bottom: 0;
  }

  .form__input {
    width: 100%;
  }
}

//
