.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 15px 0 0 0;
  max-width: 1180px;
  position: relative;
}


.nav__link {
  text-decoration: none;
  color: inherit;
}

.list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__list {
  list-style: none;
  display: none;
  margin: 0;
  padding: 0;
}

.nav__list--show {
  display: block;
  position: absolute;
  z-index: 2;
  width: 430px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(#2a333d, 0.8);
}

.nav__item:hover a,
.nav__item:active a {
  color: gray;
}

.nav-toggle {
  padding: 4px 0 0 0;
  background-color: transparent;
  border: none;
  color: inherit;
  margin-left: 60px;
  font-size: 14px;
  line-height: 16px;
  padding-right: 30px;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 26%;
}

.nav-toggle.open {
  background-image: url("../img/menu-close.svg");
}

.nav-toggle.close {
  background-image: url("../img/icon-menu.svg");
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(#2a333d, 0.8);
  padding-bottom: 21px;
  z-index: 100;
}

.sticky-show {
  top: 90px;
}

@media (max-width: $desktop-width) {
  .list-container {
    margin-right: 60px;
  }

  .nav__item {
    text-align: center;
  }
}


// @media (max-width: $mobile-width-only) {
//   .nav {
//     display: block;
//     text-align: center;
//   }
// }
//the end
