.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  position: relative;
  background-color: transparent;
  padding-left: calc((100% - 78%) / 2);
  padding-right: calc((100% - 77%) / 2);
  padding-top: 15px;
  padding-bottom: 15px;
}


.nav__link {
  text-decoration: none;

  @include font("OpenSans-Light", 17px, 20px, rgb(232, 232, 232));
}

.list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__list {
  list-style: none;
  display: none;
  margin: 0;
  padding: 0;
}

.nav__list--show {
  display: flex;
  position: absolute;
  z-index: 102;
  width: 100%;
  top: 0;
  left: 74%;
  transform: translateX(-50%);
  padding-top: 13px;
  // background-color: rgba(#2a333d, 0.8);
}

.nav__item {
  border-bottom: 1px solid rgb(232, 232, 232);
}

.nav__item:hover a,
.nav__item:active a {
  color: gray;
}

.nav__item:hover,
.nav__item:active {
  border-bottom-color: gray;
}

.nav__item:not(:last-child) {
  margin-right: 20px;
}

.nav-toggle {
  padding: 4px 0 0 0;
  background-color: transparent;
  border: none;
  color: inherit;
  margin-left: 60px;
  font-size: 14px;
  line-height: 16px;
  padding-right: 30px;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 26%;
  z-index: 110;
}

.nav-toggle.open {
  background-image: url("../img/menu-close.svg");
}

.nav-toggle.close {
  background-image: url("../img/icon-menu.svg");
}


@media (max-width: 935px) {
  .nav {
    padding-left: calc((100% - 90%) / 2);
    padding-right: calc((100% - 90%) / 2);
  }

  .nav__list--show {
    top: 84px;
    text-align: center;
    left: 0;
    transform: translateX(0%);
    padding-top: 0;
    justify-content: space-around;
    padding-bottom: 5px;
  }
}


@media (min-width: $mobile-width-only) and (max-width: 825px) {
  .nav {
    padding-left: calc((100% - 90%) / 2);
    padding-right: calc((100% - 95%) / 2);
  }

  .nav__list--show {
    top: 84px;
    background-color: rgba(#2a333d, 0.8);
    display: block;
    padding-bottom: 0;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
  }
}

// .sticky {
//   position: fixed;
//   top: 0;
//   // right: 0;
//   // left: 0;
//   // width: 100%;
//   background-color: rgba(#2a333d, 0.8);
//   padding-bottom: 21px;
//   z-index: 100;
// }

// .sticky-show {
//   top: 90px;
// }

// @media (max-width: $desktop-width) {
//   .list-container {
//     margin-right: 60px;
//   }

//   .nav__item {
//     text-align: center;
//   }
// }


// @media (max-width: $mobile-width-only) {
//   .nav {
//     padding-top: 0;
//   }

//   .sticky {
//     padding-bottom: 9px;
//   }

//   .sticky-show {
//     top: 63px;
//   }

//   .list-container {
//     margin-right: 20px;
//     padding-top: 5px;
//   }

//   .nav-toggle {
//     background-position-y: 60%;
//   }
// }

//the end
