.partners {
  width: 1165px;
  margin: 0 auto;
  padding: 0;
  // background-color: pink;
  padding-bottom: 141px;
}

.partners__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.partners__item {
  width: 20%;
  max-width: 20%;
  padding: 0 10px;
  display: flex;
  margin-top: 42px;
  justify-content: center;
  align-items: center;
}

// .partners__item:not(:last-child) {
//   margin-right: 65px;
// }

.partner__logo {
  display: block;
}

// the end
