.partners {
  // max-width: 1165px;
  margin: 0 auto;
  padding: 0;
  padding-left: calc((100% - 78%) / 2);
  padding-right: calc((100% - 77%) / 2);
  width: 100%;
  padding-bottom: 42px;
  background-color: #f5f5f5;
  // background-color: pink;
}

.partners__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.partners__item {
  width: 20%;
  max-width: 20%;
  padding: 0 10px;
  display: flex;
  margin-top: 42px;
  justify-content: center;
  align-items: center;
}

// .partners__item:not(:last-child) {
//   margin-right: 65px;
// }

.partner__logo {
  display: block;
}

// @media (max-width: $tablet-width) {
//   .partners {
//     padding-left: 20px;
//     padding-right: 20px;
//   }
// }

@media (max-width: 540px) {
  .partners {
    padding-top: 7px;
  }

  .partners__list {
    display: block;
    text-align: center;
  }

  .partners__item {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: $mobile-width-only) {
  .partners {
    padding: 0 10px 42px 10px;
  }

  // .partners__list {
  //   display: block;
  //   text-align: center;
  // }

  .partners__item {
    width: 100%;
    max-width: 100%;
  }
}

// the end
