.prices {
  padding-top: 99px;
  // padding-left: 200px;
  // padding-right: 200px;
  padding-left: calc((100% - 75%) / 2);
  padding-right: calc((100% - 75%) / 2);
  padding-bottom: 118px;
}

.prices__list {
  margin: 0;
  padding: 0;
  padding-top: 71px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.prices__item {
  width: 390px;
  padding-top: 41px;
  position: relative;
  display: flex;
  align-items: stretch;
}

.prices__item:hover {
  padding-top: 37px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-top: 5px solid rgb(72, 85, 99);
}

.prices__item:hover .prices__not-selected {
  border: none;
}

.prices__item:hover+.prices__item .prices__not-selected {
  border-left: none;
}

.prices__item:hover+.prices__item .prices__description {
  padding-left: 66px;
}

// .prices__item:hover .prices__button {
//   bottom: 39px;
// }

.prices__not-selected {
  // padding-top: 65px;
  padding-bottom: 75px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.prices__item:not(:last-child) .prices__not-selected {
  border-right: 0;
}

.prices__name,
.prices__price,
.prices__term {
  margin: 0;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prices__name {
  margin-bottom: 3px;
  padding-top: 17px;

  @include font("Montserrat-Bold", 20px, 36px, rgb(72, 85, 99));
}


.prices__price {
  @include font("Montserrat-Regular", 45px, 49px, rgb(72, 85, 99));
}

.prices__term {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 27px;

  @include font("OpenSans-Light", 14px, 23px, rgba(41, 50, 60, 0.8));
}

.prices__description {
  padding-left: calc(100% - 83.33%);
  padding-right: calc(100% - 83.33%);
  @include font("OpenSans-Regular", 14px, 40px, rgb(41, 50, 60));
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 262px;
  // width: 390px;
}

.prices__slider {
  display: none;
}

@media (max-width: $tablet-width) {
  .prices {
    padding-left: 20px;
    padding-right: 20px;
  }

  .prices__description {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 400px;
  }
}


@media (max-width: 630px) {
  .prices {
    padding-left: 10px;
    padding-right: 10px;
  }

  .prices__list {
    display: block;
  }

  .prices__item {
    width: 70%;
    margin: 0 auto;
  }

  .prices__item:hover {
    padding-top: 37px;
    border: none;
  }

  .prices__item:hover .prices__not-selected {
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

  .prices__item:hover+.prices__item .prices__not-selected {
    border-left: 1px solid rgba(0, 0, 0, 0.5);
  }

  .prices__item:hover+.prices__item .prices__description {
    padding-left: 65px;
  }

  .prices__item:not(:last-child) .prices__not-selected {
    border-right: 1px solid rgba(0, 0, 0, 0.5);
  }

  .prices__term {
    padding-bottom: 15px;
  }

  .prices__description {
    min-height: 280px;
    text-align: center;
  }

  .prices__slider {
    display: block;
    text-align: center;
    margin-top: 15px;
  }
}

@media (max-width: $mobile-width-only) {
  .prices__item {
    width: 100%;
  }
}

//
