.team {
  background-color: #8b9194;
  padding-bottom: 99px;
  padding-top: 95px;
  min-height: 750px;
  background-image: url("../img/team-bg@1x.jpg");
  background-repeat: repeat;

  @media #{$retina} {
    background: url("../img/team-bg@2x.jpg");
    background-size: 901px auto;
  }
}


.team__list {
  list-style: none;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  padding-top: 83px;
  flex-wrap: wrap;
  justify-content: center;
}


.member__contact {
  margin: 0;
  padding: 0;

  text-decoration: none;
  list-style: none;
  display: flex;

  justify-content: center;
  padding-bottom: 33px;

  .contact:not(.contact--mail) {
    background-color: #323334;
    border-radius: 50%;
    padding-top: 2px;
    width: 25px;
    height: 24px;
  }

  .contact--mail {
    background-color: transparent;
  }

  .fab {
    color: #c4c9cc;
    font-size: 18px;
    line-height: 18px;
  }

  .contact:not(.contact--mail):hover {
    background-color: #485563;
  }

  .contact:not(.contact--mail):active {
    background-color: #525961;
  }

  .contact-mail {
    color: #323334;
    font-size: 24px;
    line-height: 24px;
  }


  .contact-mail:hover {
    color: #485563;
  }


  .contact-mail:active {
    color: #525961;
  }
}

.member__contact li:not(:last-child) {
  margin-right: 5px;
}



.member {
  background-color: rgba(242, 242, 242, 0.8);
  margin-bottom: 91px;
}

.member:not(:last-child) {
  margin-right: 30px;
}

.member__image {
  display: block;
  margin-bottom: 28px;
}

.member__name {
  @include font("Montserrat-Bold", 15px, 20px, #29323c);
  margin: 0 auto;
  margin-bottom: 2px;
  padding: 0 5px;
}

.member__position {
  @include font("Montserrat-Regular", 14px, 20px, #29323c);
  margin: 0 auto;
  margin-bottom: 18px;
  padding: 0 5px;
}

//
