@font-face {
  font-family: "Airbag";
  font-weight: 400;
  src: url("../fonts/AirbagFree-Regular.woff") format("woff"), url("../fonts/AirbagFree-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans-Light";
  font-weight: 300;
  src: url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans-ExtraBold";
  font-weight: 800;
  src: url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans-Regular";
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fontsMontserrat-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts//Montserrat-Bold.woff2") format("woff2");
}
