html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: $white;
  font-family: "OpenSans", "Montserrat", sans-serif;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-wrapper {
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  max-width: 1600px;
}

@media (max-width: $tablet-width) {
  .main-wrapper {
    max-width: $tablet-width;
  }
}

@media (max-width: $desktop-width) {
  .main-wrapper {
    max-width: $desktop-width;
  }
}

.none {
  display: none;
}
